	
<div class="row custom-row" style="position:absolute;left:30%;width:79%;top:30%;">
  <div class= "col-sm-5 custom-container jumbotron">
       
    <form #signUpForm = "ngForm" class="form-horizontal" (ngSubmit)= "onFormSubmit(signUpForm)">
        <fieldset>
          <legend>SignUp</legend>
         
            <!--- Email Block -->
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" ngModel required
                id="inputEmail" name="email"
                #email = "ngModel"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                placeholder="Email">
            </div>

            <!-- Email error section -->
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors?.required">
                  Email field can't be blank
              </div>
              <div *ngIf="email.errors?.pattern && email.touched">
                  Email not correct
              </div>
            </div>
            <!--- Password Block -->
            <div ngModelGroup="password" #userPassword="ngModelGroup">
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" ngModel required
                      id="inputPassword" name="pwd"
                      placeholder="Password"
                      minlength="8"
                      >
                  </div>
           
                  <div class="form-group">
                    <label for="confirmPassword" >Confirm Password</label>
                    <input type="password" ngModel required
                      id="confirmPassword" name="confirm_pwd"
                      placeholder="Password"
                      minlength="8"
                      >
                  </div>

                  <div *ngIf="(userPassword.invalid || userPassword.value?.pwd != userPassword.value?.confirm_pwd && (userPassword.touched))">
                      <div class="alert alert-danger">
                        <div *ngIf="userPassword.invalid;else nomatch">
                            Password value more then 8 char
                        </div>
                        <ng-template #nomatch>
                            password not matched
                        </ng-template>
                      </div>
                  </div>
            </div>
            
             
            <!--- Select gender Block -->
            <div class="form-group">
              <label for="select">Gender</label>
                <select id="select" ngModel  name="gender">
                  <option *ngFor = "let g of gender" [value]="g">{{g}}</option>
                </select>
            </div>
             
            <!--- Terms and conditions Block -->
             <div class="form-group checkbox">
              <label>
                <input type="checkbox" name="term" ngModel> Confirm that you've read the Terms and 
                Conditions
              </label>
            </div>
            
           <!--- Buttons Block -->
            <div class="form-group">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-success" [disabled]="!signUpForm.form.valid">Submit</button>
            </div>

            <!--- User Value Print -->
            <br/>
            <br/>
            {{signUpForm.value | json}}
        </fieldset>
    </form> 
  </div>
</div>