/******************************************** Navbar Style **********************************************************/

.forget_container_main.password_nav {
    box-shadow: 0 2px 3px #E7E7E7!important;
    border-bottom: 1px solid #DFDFDF;
    color: #6A6A6A;
    background: #fff;
    padding: 15px 0px;
    z-index: 9;
    position: relative;
}
.fairPrice-icon{
    width:130px;
}
.forget_container_main .right-pipe {
   border: 0.3px solid #626262;
   margin:3px 0px 0 0px;
   height: 31px;
}
.logo_img {
    margin-right: 10px;
}
.logo_img2 {
    margin-left: 10px;
}

.login_btn{
    height: 37px;
    color: #1c9c7a;
    border-radius: 5px;
    border: 1px solid #1C9C7A;
    margin-right: 15px;
    font: bold;
    background: #fff;
}

.active_btn{
    font: bold;   
    color: #fff;
    border-radius: 5px;
    border: 1px solid #1C9C7A;
    background: #1c9c7a;
}

.signup_btn{
    height: 37px;
    margin-right: 15px;
}
.btn_query {
    padding: 5px 17px;
    font-size: 18px;
}
.bar-icon, .display_none{
    display: none !important;
}
.display-block{
    display: block !important;
}
.cross-nav-icon{
    color: #000;
    font-size: 21px;
    text-shadow: 0 1px #000;
}
.nav-bar-subicon{
    height:79px;
    width: 180px;
    display:block !important;
}
.navbar .nav-bar-subicon img {
    padding: 8px 0;
}
.robert_txt{
    opacity: 0.6;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    color: #040000;
    margin-right: 5px;
}
.down-icon{
    color: #1D9C7A;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}
.bar {
    position: relative;
    transform: translateY(25px);
    background: #353535;
    transition: all 0ms 300ms;
    width: 19px !important;
    bottom: 24px;
}
.bar, .bar:after, .bar:before {
    width: 27px;
    height: 3px;
    content: "";
    display: inline-block;
}
.bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 7px;
    background:#353535;
    transition: bottom 300ms 300ms cubic-bezier(.23,1,.32,1),transform 300ms cubic-bezier(.23,1,.32,1);
}
.bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    background: #353535;
    transition: top 300ms 300ms cubic-bezier(.23,1,.32,1),transform 300ms cubic-bezier(.23,1,.32,1);
}
.hamburger-menu {
    position: absolute;
    width: 27px;
    height: 27px;
    cursor: pointer;
    z-index: 9;
    display: none;
}
.alert-circle{        
    height: 19px;
    width: 18px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    color:#fff;
    font-size:12px;
    background: #f75d00;
    margin-left: -3px;

}
.alert-circle label {
    display: inline;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
/************** Dropdown Manage *****************/

.dropdown-menu.logo-menu , .alert-icon, .user-option-dropdown{
    top: 51px;
    border-top: none;
    border-color: #D7D7D7;
    border-radius: 0px;
}
.dropdown-menu.logo-menu{
    left: -16px;
}
.alert-icon{
    /***left: 211px;****/
}
.logo-menu:before, .alert-icon:before{
    content: "";
    border-left: 12px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #D7D7D7;
}
.logo-menu:after, .alert-icon:after{
    content: "";
    border-left: 9px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid #fff;
}
.logo-menu:before{
    position: absolute;
    top: -13px;
    left: 8%;
}
.logo-menu:after{
    position: absolute;
    top: -11px;
    left: 10%;
}
.user-option-dropdown:before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #DCDCDC;
    position: absolute;
    top: -13px;
    right: 3%;
}
.user-option-dropdown:after{
    content: "";
    border-left: 9px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #F7F7F7;
    position: absolute;
    top: -11px;
    right: 3%;
}
.user-option-dropdown{
    width: 274px;
    padding: 0px;
}
.user-option-dropdown>li a{
    color:#707070;
    font-size: 15px;
}
.user-option-dropdown>li span>a{
    font-size: 14px;
}
.membership-status{
    width: 61%;
    display: inline-block;
}
.dropdown-header{
    background-color: #F7F7F7;
}
.circle-icon{
    width: 16px;
    display: inline-block;
}
.dropdown-menu>li {
    padding: 10px;
    font-size: 16PX;
}
.dropdown-menu.logo-menu>li {
    padding:7px;
}
.dropdown-menu>li>a, .user-option-dropdown>li a{
    opacity: 1;
    text-decoration: none!important ;
}
.dropdown-menu>li div.dropdown-header-section{
    padding-bottom: 4px;
    padding: 3px 20px;
}
.alert-icon li.first-sec{
    border-bottom: 1px solid #E4E4E4;
}
.alert-icon:before {
    position: absolute;
    top: -13px;
    left: 85.8%;
}
.alert-icon:after{
    position: absolute;
    top: -11px;
    left: 87%;
}
.active-circle:before{
    content: ' \25CF';
    font-size: 20px;
    color: #00B851;
}
.cursor-point{
    cursor: pointer
}

/************** Media Query *****************/

@media only screen and (max-width: 368px)
{
    
    .bell-icon-min{
        width: 31% !important;
        padding: 0;
    }
    .login-user{
        width: 69% !important;
        padding: 0;
    }
}
@media only screen and (max-width: 636px) {
    .left-icon-bar{
        width:16.66666667% !important;
    }
    .right-nav-bar{
        width:83.33333333% !important;
    }
}
@media only screen and (max-width: 740px) {
    .col-xs-12, .col-xs-6{
        padding:0 2px;
    }
    .dropdown-menu.logo-menu , .alert-icon, .user-option-dropdown{
        top: 43px;
    }
    .left-icon-bar{
        width: 33.33333333%;
    }
    .right-nav-bar{
        width:66.66666667%;
    }
    .adjust{
        padding:0;
        margin:0;
    }
    .bar-icon{
        display: block !important;
    }
    .logo-section{
        display: none; 
    }
    .logo_img {
        margin-right: 5px;
    }
    .logo_img2 {
        margin-left: 5px;
    }
    .width1{
        width: 110px;
    }
    .width2{
        width: 50px;
    }
    .height_comn{
        height:15px !important;
    }
    .btn_query{
        height: 27px;
        font-size: 10px;
        padding: 0px 9px 0px 9px;
    }
    .forget_container_main .password_nav {
        padding: 10px 0px;
    }
    .signup_btn {
        margin-right: 0px;
    }
    .login_btn {
        margin-right: 5px;
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .width1 {
        width: 90px;
    }
    .width2 {
        width: 30px;
    }
    .forget_container_main .right-pipe {
        margin: 7px 0px 0 0px;
    }
    .btn_query {
        font-size: 10px;
        padding: 0px 5px 0px 5px;
    }
}
